.imagen-modal{

    display: flex;
    justify-content: center;  
    text-align: center;
}


.imagen-modal img{
    width: 1000px;
    height: 600px;
    border: 7px solid #FFF;
    box-sizing: border-box;
    z-index: 1;
    

}

.imagen-modal h1{
    font-weight: bold;
    font-size: 80px;
    z-index: 2;
    position:fixed;
    top: 150px;
    color: white;
    border-radius: 35%;
    
}
/*
.imagen-modal h1:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
*/


#siguiente-img {
    right: 120px;
    
}

#anterior-img {
    left: 120px;
}

.radio-seleccion{
    position: absolute;
    top: 550px;
    z-index: 2;
    margin-bottom: 500px;
    text-align: center;
    justify-content: center;
    
}

